main {
    margin-top: 35px;
}

ul.pagination.right {
    float: right;
}

ul.pagination.left {
    float: left;
}

.num-link>a{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

ul.pagination.left>a {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
}

form.user-create {
    max-width: fit-content;
}

table {
    text-align: center;
}

footer.container {
    position: static;
    margin-top: 100px;
}


div#show-log {
    max-width: max-content;
    position: absolute;
    left: 45%;
    top: 30%;
    background: #e6e6e6;
    padding: 5px 5px;    
    z-index: 3;
}

#show-log-header {
    padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

div#show-log ul{
    overflow-y: auto;
    max-height: 400px;
}

button.close {
    margin-top: -15px;
    margin-left: -20px;
    background: white;
    padding: 10px;
}

.fa-user-plus, .fa-file-text{
    font-size: 30px;
}


@media (max-width: 991.98px){
    .mobile-hide {
        display: none;
    }
    .table th, .table td {
        padding: 0.45rem;
    }

    .display-4,.display-3 {
        font-size: 2.5rem;
    }

    ul.pagination.right , ul.pagination.left {
        float: none;
    }

    .card-columns {
        display: table;
    }
    
}

@media (max-width: 991.98px){
    .mobile-hide {
        display: none;
    }
    .table th, .table td {
        padding: 0.45rem;
    }

    .display-4,.display-3 {
        font-size: 2.5rem;
    }

    ul.pagination.right , ul.pagination.left {
        float: none;
    }

    .card-columns {
        display: table;
    }
    
}
@media (max-width: 1199.98px){

}


@media screen and (orientation:portrait) { 
    
 }
@media screen and (orientation:landscape) { 
    .video-frame {
        top: 0;
    }
 }