main {
    margin-top: 55px;
}

form.user-create {
    max-width: fit-content;
}

@media(max-width: 576px){
}

@media screen and (orientation:portrait) { 
    
 }
@media screen and (orientation:landscape) { 
    .video-frame {
        top: 0;
    }
 }