body {
    width: 90%;
    margin: 5% auto;
}

.header {
    text-align: center;
    font-size: 1.3em;
    display: flex;
}

img#logo {
    width: 150px;
}

#project, #serial, #date {
    padding: 30px 10px;
    white-space: nowrap;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

table td,table th{
    border: 1px solid #ddd;
    padding: 4px;
}

thead.thead-dark {
    background: #eeeeee;
  }
  
.scans {
    width: 99%;
}

.gallery img {
    width: 100%;
    display: block;
    max-height: 1500px;
}

thead.thead-dark {
    color: rgb(0, 0, 0);
}

.checkbox {
    text-align: center;
    display: flex;
}

select.review {
    float: right;
}

select:disabled {
    opacity: 1;
    border-color: black;
    color: black;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
  }

@media print {
    main {
        min-height: inherit;
    }
    .print-hide {
        display: none;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .9rem 1rem;
        margin-top: -120px;
        margin-bottom: 100px;
    }
    .navbar-right, .progress, .delete-photo, .alert, #snap1, .main-menu, footer {
        display: none;
    }
    div#photo-stock img {
        padding-bottom: 20px;
    }
    .badge {
        border: none;
    }
    .mobile-hide {
        display: block;
    }
    img.img-thumbnail.checklist-logo {
        max-width: 300px;
        max-height: 150px;
        display: block;
        opacity: 0.5;
    }
    b#date {
        margin-right: 50px;
    }
    img.respondCanvas {
        display: block;
        break-inside: avoid;
        max-height: 1500px;
    }
}