@media print {

    .checklist-data {
        display: flex;
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: 65%;
    }

    .checklist-logo {
        flex-basis: 30%;
        opacity: 0.7;
        display: block;
    }



    .checklist-data b {
        flex-basis: 100%;
    }

    #project_assembly {
        display: initial !important;
    }

    .row {
        break-inside: avoid;
    }

    body {
        margin-top: 0;
    }

    main {
        min-height: inherit;
    }

    .print-hide, .open_menu, .offcanvas, #project_rev {
        display: none;
    }

    .navbar {
        position: relative;
        display: flex;
        padding: 0.9rem 1rem;
        margin-top: -60px;
        flex-direction: row;
        align-items: stretch;
    }

    .navbar-right, .progress, .delete-photo, .alert, #snap1, .main-menu, footer {
        display: none;
    }

    div#photo-stock img {
        padding-bottom: 5px;
    }

    .badge {
        border: none;
    }

    .mobile-hide {
        display: block;
    }

    b#date {
        margin-right: 50px;
    }

    img.respondCanvas {
        display: block;
        break-inside: avoid;
        max-height: 45vh;
    }
}