.control_btn_container {
    position: fixed;
    right: 0;
    top: 50%;
    display: grid;
    z-index: 1;
}

button#save {
    margin-top: 70px;
}

.to-print {
    display: none;
}

@media (max-width: 991.98px) {
    .control_btn_container {
        position: fixed;
        top: auto;
        bottom: 0;
        display: block;
        z-index: 1;
        background: #ebebeb;
        width: 100%;
        text-align: center;
    }

    .control_btn_container>button {
        width: 100px;
    }

    button#save {
        margin-top: 0;
    }

    .jumbotron {
        padding: 5rem 0rem;
        padding-bottom: 1rem;
    }
}

@media print {
    main {
        margin: 0;
    }

    .jumbotron {
        top: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        padding: 0;
        margin-bottom: 0;
    }

    .form-row {
        margin-bottom: 1em;
    }

    .input-group-text {
        font-weight: bold;
    }

    #save {
        display: none;
    }

    .form-row {
        break-inside: avoid-page;
    }

    .not-print {
        display: none;
    }

    .to-print {
        display: block;
    }

    pre {
        display: table-cell;
        padding: 10px 20px;
        text-align: left;
        unicode-bidi: plaintext;
        font-family: sans-serif;
        font-size: 1em;
    }
}